body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: 'Muli', sans-serif;
}

h1 {
  letter-spacing: 2px;
}

p {
  line-height: 1.6;
  /*letter-spacing: 2px;*/
}

a, a:link, a:active, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#logo {
   height: 300px;
}

#socialmedia-icon {
	height: 45px; 
}
